<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Data-driven Test">
		<classes>
			<class name="com.udemy.datadriventesting.CentralizingData" />
		</classes>
	</test>
	
	<test name="End To End Test">
		<classes>
			<class name="com.udemy.datadriventesting.DynamicJson" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
